html,body
{
	width:100%;
	height:100%;
}

.fecha-estilo
{
	cursor:text;
}

section.special, article.special {
		text-align: center;
	}
	
	header
	{
		position:relative;
		width:100%;
		text-align:center;
		/*background-image:url('../img/typewriter-801921_1920.jpg');*/
		background-color:#21A4A4;
        background-size:100% 100%;
		background-position:center;
        margin-top: -25px;
		/*height:400px;*/
    }

	header p {
		color: white;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
        header h1 {
        color:white;
        font-size:84px,
        }
	header h1 + p {
		margin-top: -1em;
        font-size:25px;
        
	}

	header h2 + p {
		margin-top: -1em;
	}

	header h3 + p {
		margin-top: -0.8em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.8em;
		margin-top: -0.6em;
	}

	header.major {
		text-align: center;
		position:relative;
		width:100%;
		padding: 100px 15px;
	}

		header.major h1, header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
			position: relative;
		}

			header.major h1:after, header.major h2:after, header.major h3:after, header.major h4:after, header.major h5:after, header.major h6:after {
				background: #dddddd;
				content: '';
				display: block;
				height: 2px;
				margin: 0.75em auto 0 auto;
				position: relative;
				width: 4em;
			}

		header.major p {
			margin-top: 0;
		}
h1{
	color:black;
}
.bienvenida
{
	background-image:url('../img/fondoperpetua.gif');
	background-size:100% 100%;
}
ul
{
	margin-bottom:17px;
	margin-left:auto;
	margin-right:auto;
}

.menu-footer {
  list-style: none;
}
.menu-footer > li {
  position: relative;
  display: block;

}
.menu-footer > li > a {
  padding: 10px 15px;
}
.menu-footer> li.disabled > a {
  color:#0A7A05;	
}

.table-usuario
{
	
}

.table-usuario td
{
	padding:5px;
}

.info-biblioteca
{
	margin-top:3%;
	font-size:18px;
}

.panel-footer-biblioteca
{
	background-color:#68ADA8;
	margin-top:15px;
}

#mostrardatos
{
	display:none;
}

textarea
{
	resize:none;
}

#carga
{
	font-family:Arial, Helvetica, sans-serif;
	color:red;
	font-weight:bold;
	display:none;
}

.copyright
{
	color:black;
	font-weight:bold;
	font-size:13px;
	text-align:center;
}

.table-footer
{
	margin-left:auto;
	margin-right:auto;
}

.table-footer td
{
	padding:05px;
}

.table-footer-menu
{
	margin-left:auto;
	margin-right:auto;
}

.table-footer-menu td
{
	padding:05px;
	font-size:16px;
}

/* Paginación para GridView */

.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td {
    display: inline;
}
 
.pagination-ys table > tbody > tr > td > a,
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #dd4814;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
 
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;    
    margin-left: -1px;
    z-index: 2;
    color: #aea79f;
    background-color: #f5f5f5;
    border-color: #dddddd;
    cursor: default;
}
 
.pagination-ys table > tbody > tr > td:first-child > a,
.pagination-ys table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td:last-child > a,
.pagination-ys table > tbody > tr > td:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td > a:hover,
.pagination-ys table > tbody > tr > td > span:hover,
.pagination-ys table > tbody > tr > td > a:focus,
.pagination-ys table > tbody > tr > td > span:focus {
    color: #97310e;
    background-color: #eeeeee;
    border-color: #dddddd;
}




